<h2>Companies</h2>
<p id="notice"><%= notice %></p>

<ul class="messages">
  <% @companies.each do |company| %>
  <li>
      <p>
          <strong> <%= company.name %> </strong>
          <small>
            <%= link_to 'View', company %>
          </small>
      </p>
      <p>
        <small> Average rating <%= company.rating %> </small>
        <small> | <%= company.number_of_votes %> votes </small>
      </p>
  </li>
  <% end %>
</ul>
