<p id="notice"><%= notice %></p>

<%= @company.name %>
<%= @company.description %>
<%= @company.logo %>
<%= @company.rating.round(2) %>
<%= @company.number_of_votes %>

<%= render 'vote' %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
