%h2
  = @post.job
%p
  %small
    Posted by
    = @post.poster
%p
  = @post.content

= link_to "Edit", edit_company_job_post_path(@company)
= link_to "Delete", company_job_post_path, :method => :delete, data: {:confirm => "Are you sure?"}
