<!DOCTYPE html>
<html>
  <head>
    <title>Partner</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='page'>
      <h1>Partner</h1>
	  <div class='navigation'>
		  <%= link_to 'Home', root_path %>
		  |
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path %>
      <% else %>
		    <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
		  |
		  <%= link_to 'Search', companies_path %>
      </div>
      <div class='body'>
          <%= yield %>
      </div>
      <div class='footer'>Partner - An initiative by SyntaxDenied</div>
    </div>
  </body>
</html>
